/* :root {
  --theme-color: #009688;
  --border: 2px solid #9e9e9e;
  --color: #607d8b;
  --body-background: #ffffff;
  --bs-body-bg: #ffffff;
  --modal-animation-duration: 0.1s;
  --tabs-background-color: #00bcd4;
  --tabs-background-color2: #00bcd4;
  --tabs-header-link-color: #0000005e;
  --tabs-header-link-font-weight: bold;
  --modal-header-background-color: var(--theme-color);
  --modal-background: #ffffffc4;
} */
.bg-theme {
  background: #c8ffca !important;
}
.height-50 {
  height: 50px;
}
.qrcode-a4 {
  position: relative;
  display: inline-block;
}
.table.branch tr {
  height: 50px;
}
.borderBlack {
  border-style: solid;
  border-color: black;
}
.width-20-mm {
  min-width: 20mm !important;
  width: 20mm !important;
  white-space: normal;
  max-width: 20mm !important;
}
.width-25-mm {
  min-width: 25mm !important;
  width: 25mm !important;
  white-space: normal;
  max-width: 25mm !important;
}
hr.line {
  color: black !important;
  margin: 2px;
}
.font-5 {
  font-family: 'Font Awesome 5 Free';
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-27 {
  font-size: 27px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-29 {
  font-size: 29px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-31 {
  font-size: 31px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-33 {
  font-size: 33px !important;
}

.font-34 {
  font-size: 34px !important;
}

.font-35 {
  font-size: 35px !important;
}

.style-box {
  font-family: Wingdings;
  font-size: 26px;
  display: inline;
  /*  border: 2px solid black;
  padding: 1px 4px 0 2px; */
}
.border-1 {
  border: 2px black solid;
  margin: 2px !important;
  border-radius: 5px;
}

.border-right {
  border-right: 2px solid black;
  border-radius: unset;
}

.border-dashed {
  border: 2px black dashed;
  /*  margin: 2px !important; */
}
.blue-dark {
  color: #000654;
}
.space {
  word-spacing: 7px;
}
.tab-space {
  tab-size: 1;
}
.numStr {
  font-size: 18px !important;
  font-style: italic;
}

.icon {
  font-size: xx-large;
  color: #10007d;
  cursor: pointer;
  padding: 5px;
  inline-size: auto;
}

.icon-select {
  color: rgb(131, 131, 131);
}
.key-words {
  border: 1px solid;
  padding: 1px 5px 1px 5px;
  inline-size: max-content;
  display: inline-block;
  margin: 3px;
  border-radius: 15px;
}

.delete-key {
  cursor: pointer;
}

.delete-key:hover {
  color: red;
}

.table.branch td {
  border: unset;
}

.login-btn {
  border: 1px solid #1600a2;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: unset;
  color: white;
  background-color: #0074c9;
}
.login-btn:hover {
  color: white;
  padding: 12px;
}

.big button {
  height: 60px;
  font-size: x-large;
}
.margin-button {
  margin: 15px 0px 15px 0px;
  padding: 10px;
}
.darkGray {
  color: #707070 !important;
}

.btn-center {
  place-content: center;
}

.bg-white {
  background: white !important;
}
.bg-snow {
  background: snow !important;
}

.bg-table {
  background: #0094aa !important;
}

.img-logo {
  height: 28px;
  vertical-align: top;
}
.dashed {
  border-style: dotted;
  color: black;
}

.list {
  margin: 10px !important;
  background: white;
  border-bottom: 1px solid;
  padding: 15px 10px 0px 10px !important;
}
.list:hover {
  border-radius: 10px;
  background: #ffff00bf;
}
.code-list {
  border: 1px solid;
  text-align-last: center;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 5px;
  background: #00b086e0;
}
.text-right {
  text-align: -webkit-right;
}
.pre-line {
  white-space: pre-line;
}
.dotted {
  border-top-style: dotted;
  top: 15px !important;
  position: relative;
  height: 15px;
}
.h-60 {
  height: 60px;
}
.h-30 {
  height: 30px;
}
.h-20 {
  height: 20px;
}
.square {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid black;
}
.error {
  font-size: 26px !important;
}
i-image img {
  min-height: 45px !important;
}
i-image[view] img {
  border-radius: 3px !important;
}
.logoProfile {
  width: 64px;
  height: 40px;
  border-radius: 5px;
}
.errMsg {
  text-align: center;
  font-size: x-large;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;
  background: antiquewhite;
  color: #c40000;
}
.height-5 {
  height: 5px;
}
.height-28 {
  height: 28px;
}
.disabled {
  pointer-events: none;
}
.modal {
  --bs-modal-bg: #ffffff;
}
/* .modal-header p {
  font-weight: bold;
  text-shadow: 0 0 8px black;
  font-size: 20px;
}
.modal-footer {
  background: #dadadaf5;
  border-top: 1px solid #000000;
} */
/* body {
  margin-bottom: 100px;
  padding-top: 100px;
} */
/* .tabs:has(.tabs-header.full) {
  padding: 0px;
  width: 100%;
  border: 5px solid var(--tabs-background-color);
}
.tabs .tabs-header.full {
  background: var(--tabs-background-color);
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
  min-height: 45px;
} */
/* .tabs .tabs-header .tab-link.active {
} */

/* .tabs .full .tab-link {
  margin: auto;
} */
.no-line {
  text-decoration-line: unset;
}
/* .table th {
  background-color: #03a9f4 !important;
} */
.tabs .tabs-content {
  width: 100% !important;
}

.cart:hover {
  background: #69def6;
}
.underline {
  text-decoration-line: underline;
}
.cart {
  border: 3px solid #00856a;
  display: inline-block;
  width: 50vw !important;
  margin: 10px 0px 10px 0px !important;
  box-shadow: 2px 2px 5px 0px #00856a;
  background: white;
  padding: 25px;
  height: auto;
  border-radius: 10px;
}

.cart img {
  height: 33px;
  width: 45px;
  padding: 2px;
}

.cart-number {
  color: var(--theme-color);
  font-size: 20px;
  display: inherit;
}

.iban {
  color: #959595;
  font-size: 20px;
  display: inherit;
}

.cart-name {
  font-size: 21px;
  float: left;
  font-family: system-ui;
  font-weight: bold;
}

.userPrint {
  user-select: text;
}

.text-left {
  text-align: left;
}

.tabs .full .tab-link {
  margin: auto;
  display: inline-table;
  white-space: break-spaces;
  margin-top: 0px;
}

.tabs .tabs-header .tab-link {
  padding: 2px 9px;
}

p {
  margin-bottom: 0.1rem !important;
}
.word-line {
  word-break: keep-all;
}
.form-check {
  word-break: keep-all;
}

.a-btn {
  border: 1px solid;
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  text-decoration-line: none;
  color: black;
  font-size: large;
  display: inline-table;
}

.table-cart:hover {
  background: #69def6;
}
.table-cart {
  border: 3px solid #00856a;
  display: inline-block;
  width: 99% !important;
  margin: 0.3vw !important;
  box-shadow: 2px 2px 5px 0px #00856a;
  background: #f7f7f7;
  padding: 10px !important;
  height: auto;
  border-radius: 10px;
}

i-checkbox label {
  white-space: nowrap !important;
}

.font-35 {
  font-size: 35px !important;
}
.font-35 {
  font-size: 35px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-28 {
  font-size: 28px !important;
}
.qrcode img {
  height: 140px !important;
  width: 140px !important;
  border-radius: 0px !important;
}
.m-top-50 {
  margin-top: 50px !important;
}
.bg-lightGray {
  background: #dedcdc !important;
}

.logoThermalPrint {
  width: 125px !important;
  height: 105px !important;
  margin: 1px !important;
  padding: 1px !important;
  border-radius: 0 !important;
  border: 1px solid var(--background-color) !important;
}
.logoPrint {
  width: 240px;
  height: 130px;
  margin: 0.7px;
  padding: 0.5px;
  border-radius: 0;
  border: 0.7px solid var(--background-color);
}
.gray-bg {
  background-color: #ececec !important;
}
#thermalPrint .qrcode img {
  height: 140px !important;
  width: 140px !important;
  border-radius: 0px !important;
  display: inline-flex !important;
}
