:root {
  /*start main color*/

  --main-color1: #bec011;
  --main-color2: #245a40;
  --main-color3: #f5f5f5;

  --theme-color: var(--main-color2);
  /*end main color*/

  /*start background and font color*/
  /*style 1*/
  --background-color1: #bec011;
  --border-color1: #bec011;
  --main-color-font1: #245a40;
  --sub-color-font1: #648c75;
  /*style 2*/
  --background-color2: #f5f5f5;
  --border-color2: #bec011;
  --main-color-font2: #245a40;
  --sub-color-font2: #648c75;
  /*style 3*/
  --background-color3: #245a40;
  --border-color3: #245a40;
  --color-font3: #f5f5f5;
  /*style 4*/
  --background-color4: #720303;
  --border-color4: #720303;
  --color-font4: #ffffff;
  /*style 5*/
  --background-color5: #ffffff00;
  --border-color5: #ffffff00;
  --main-color-font5: #245a40;
  --sub-color-font5: #648c75;
  /*style 6*/
  --background-color6: #648c75;
  --border-color6: #648c75;
  --color-font6: #f5f5f5;
  /*end background and font color*/

  /*start button background and font color */
  /*button style 0*/
  --button-backgroundColor-0: #245a40;
  --button-border-color-0: #245a40;
  --button-fontColor-0: #f5f5f5;
  --hover-button-backgroundColor-0: #f5f5f5;
  --hover-button-border-color-0: #245a40;
  --hover-button-fontColor-0: #245a40;
  /*button style 1*/
  --button-backgroundColor-1: #245a40;
  --button-border-color-1: #bec011;
  --button-fontColor-1: #bec011;
  --hover-button-backgroundColor-1: #bec011;
  --hover-button-border-color-1: #245a40;
  --hover-button-fontColor-1: #245a40;
  /*button style 2*/
  --button-backgroundColor-2: #ffffff00;
  --button-border-color-2: #245a40;
  --button-fontColor-2: #245a40;
  --hover-button-backgroundColor-2: #245a40;
  --hover-button-border-color-2: #245a40;
  --hover-button-fontColor-2: #ffffff;
  /*button style 3*/
  --button-backgroundColor-3: #bec011;
  --button-border-color-3: #bec011;
  --button-fontColor-3: #245a40;
  --hover-button-backgroundColor-3: #245a40;
  --hover-button-border-color-3: #245a40;
  --hover-button-fontColor-3: #bec011;
  /*button style 4*/
  --button-backgroundColor-4: #bec011;
  --button-border-color-4: #bec011;
  --button-fontColor-4: #f5f5f5;
  --hover-button-backgroundColor-4: #f5f5f5;
  --hover-button-border-color-4: #bec011;
  --hover-button-fontColor-4: #bec011;
  /*button style 5*/
  --button-backgroundColor-5: #648c75;
  --button-border-color-5: #648c75;
  --button-fontColor-5: #f5f5f5;
  --hover-button-backgroundColor-5: #f5f5f5;
  --hover-button-border-color-5: #648c75;
  --hover-button-fontColor-5: #648c75;
  /*button style 6*/
  --button-backgroundColor-6: #720303;
  --button-border-color-6: #720303;
  --button-fontColor-6: #f5f5f5;
  --hover-button-backgroundColor-6: #f5f5f5;
  --hover-button-border-color-6: #720303;
  --hover-button-fontColor-6: #720303;
  /*end button background and font color*/

  /*start gradint color*/
  --gradient-main-color: #d9d38900;
  --gradient-second-color: #d9d389;
  --linear-gradient1: linear-gradient(to top, var(--gradient-main-color), var(--gradient-second-color), var(--gradient-second-color), var(--gradient-main-color));
  /*end gradint color*/

  /*start table color*/
  --table-head-background-color: #f5f5f5;
  --table-head-font-color: #245a40;
  --table-row-odd-backgrount-color: #bec011;
  --table-row-odd-font-color: #245a40;
  --table-row-even-backgrount-color: #f5f5f5;
  --table-row-even-font-color: #648c75;
  /*end table color*/
}
