#main-layout {
  zoom: 90% !important;
  margin-left: 0px !important;
  max-width: calc(100vw - 0px) !important;
}
body {
  margin-bottom: 0px;
  margin-top: 0px;
}
.main-page {
  background-color: snow;
  position: absolute;
  width: 98% !important;
  margin-top: -20px !important;
}
.order-invoice {
  padding: 5px !important;
}

.closing {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align-last: center;
  font-size: xx-large;
  color: var(--color3);
  background: var(--backcolor3);
}

.item-groups {
  background-color: white;
  flex-flow: inherit;
  /* background: var(--backcolor2); */
  white-space: initial;
}
.item-groups .item {
  margin: 5px;
  padding: 0px;
  min-width: 180px;
  height: 20%;
  width: 220px;
  display: inline-flex;
  border: 1px solid #1b4c6b;
  background: #1b4c6b;
}
.item-groups .item:hover img {
  border-radius: 20px 0px 0px 20px;
}

.item-groups .item:hover {
  border-radius: 20px;
}

.item-groups img {
  height: 95px;
  width: 100px;
}

.item-groups .item p {
  /*     min-width: 190px;
 */
  white-space: pre-line;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px;
  padding-top: 25px;
  font-weight: bold;
  height: 90px;
  text-align: center;
}

.item-groups::-webkit-scrollbar {
  height: 10px;
}

.item-groups::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #5a47ff;
}
.active-list-tittle {
  background: var(--backcolor2);
  border-radius: 15px 15px 0px 0px;
}
.item-groups::-webkit-scrollbar-thumb:hover {
  background: #2414ff;
}

.active-list {
  margin: 10px !important;
  position: relative;
  display: inline-grid;
  border: 2px solid #00c6daa8;
  border-radius: 15px;
  text-align: center;
  line-height: 1.8;
  max-width: 250px;
  height: 270px;
  margin: 15px;
  font-size: larger;
  color: var(--color3);
  background: var(--background-color3);
}

.active-list:hover {
  background: #dfe4f0;
  font-size: large;
}
.scroll {
  overflow: scroll;
}

.item-list {
  padding: 5px !important;
  margin: 10px 0px 0px 0px !important;
  background-color: white;
  display: inline-flex;
  flex-flow: wrap;
}

.item-list .item {
  border: 2px solid #ddd;
  background-color: white;
  text-align: center;
  height: 170px;
  width: 190px;
  padding: 1px !important;
  margin: 4px;
}
/* .item-list .item:hover,
.item-list .item:hover p {
  background-color: #2196f3;
  color: #ffffff;
} */
.item-list .item:hover img {
  border-radius: 20px 20px 0px 0px;
}
.item-list .item:hover  {
  border-radius: 20px;
}
.item-list .item img {
  height: 90px;
  width: 100%;
  border-radius: 0px;
}
.item-list .item p {
  background-color: #1b4c6b;
  color: white;
  height: 75px;
  font-size: 25px;
  padding: 0px;
  font-family: initial;
  text-align: center;
}

.table-content {
  width: 100%;
  overflow: auto;
}

.table-content.items {
  height: 47vh;
}
.table-content .table-headers {
  width: 100%;
  height: 30px;
  background: #eeeeee;
  border: 1px solid #747474;
}
.table-content .table-headers .header {
  border-left: 1px solid #747474;
  height: 30px;
  padding-top: 3px;
  text-align: center;
}
.table-busy{
  border: 2px solid red !important;
  cursor: not-allowed;
  opacity: 0.4;
}
/* .table-content .table-headers .header:last-child {
  border-left: none;
} */

.table-content .table-items {
  width: 100%;
  height: 50px;
  background: #ffffffeb;
  border: 2px solid #ddd;
}
.table-content .table-items .item {
  border-left: 2px solid #ddd;
  height: 40px;
  text-align: center;
  padding: 3px;
}

.table-content .table-items .item:last-child {
  border-left: none;
  padding: 0px;
}

.font_name_table {
  width: 190px;
  height: 50px;
  white-space: pre-wrap !important;
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.code,
.code input {
  color: blue;
  font-weight: bold;
  font-size: 18px;
}



.btn_board {
  border-radius: 10px;
}

.btn.saving {
  width: 170px;
  height: 70px;
  font-size: 22px;
  padding-top: 30px;
  background: #ccb300;
  font-weight: bold;
}

.btn.closing {
  width: 170px;
  height: 80px;
  font-size: 22px;
  padding-top: 17px;
  background: #118011;
  font-weight: bold;
}

.btn.new,
.btn.view {
  width: 150px;
  height: 50px;
  padding-top: 13px;
}

.modal-header {
  min-height: 35px;
}
